openapi: 3.0.0
info:
  description: Raidiam Connect API
  license:
    name: MIT
    url: https://mit-license.org
  contact:
    email: support@raidiam.com
  title: Raidiam Connect
  version: "1.39.0"
servers:
  - description: Raidiam Directory Sandbox Environment
    url: https://matls-api.sandbox.raidiam.io

tags:
  - name: Users
    description: all operations relating to users
  - name: Software Statement Certifications
    description: all operations relating to software statement certifications
  - name: Certification Managers
    description: all operations relating to certification managers
  - name: Super Users
    description: all operations relating to super users
  - name: Organisation Admin Users
    description: all operations relating to organisation admins
  - name: Organisation Domain Users
    description: all operations relating to organisation domain users
  - name: Docusign
    description: all operations utilising docusign
  - name: Organisations
    description: all operations relating to organisations
  - name: Export
    description: all operations relating to data export
  - name: Participants
    description: all operations relating to the participants endpoint
  - name: Roles
    description: all operations relating to directory roles
  - name: Deprecated
    description: all depreciated operations
  - name: Conformance Suite
    description: all operations involving the conformance suite
  - name: Reference Data
    description: all operations relating to reference data
  - name: Authorities
    description: all operations relating to authorities
  - name: Authorisation Domains
    description: all operations relating to authorisation domains
  - name: Authorisation Domain Roles
    description: all operations relating to authorisation domain roles
  - name: Authorisation Domain Role Metadata
    description: all operations relating to authorisation domain role metadata
  - name: Authority Domain Mappings
    description: all operations relating to the mapping between authorities and authorisation domains
  - name: Terms and Conditions
    description: all operations relating to directory terms and conditions
  - name: Authority Domain Claims
    description: all operations relating to authority domain claims attached to an organisation
  - name: Authority Claims
    description: all operations relating to roles attached to an organisation
  - name: Authority Claims Authorisations
    description: all operations relating to authority claim authorisations
  - name: Contacts
    description: all operations relating to contacts
  - name: Authorisation Servers
    description: all operations relating to authorisation servers
  - name: Webhooks
    description: all operations relating to webhooks
  - name: API Resources
    description: all operations relating to api resources
  - name: API Discovery Endpoints
    description: all operations relating to api discovery endpoints listed on an api resource
  - name: Certifications
    description: all operations relating to the certifying of a directory resource
  - name: Software Statements
    description: all operations relating to software statements
  - name: Software Authority Claims
    description: all operations relating to authority claims attached to a software statement
  - name: Certificates
    description: all operations relating to certificates
  - name: Assertion
    description: all operations relating to the software statement assertion
  - name: Software Statement Metadata
    description: all operations relating to software statement metadata
  - name: OpenID Provider
    description: all operations relating to the openid provider
  - name: Client Registration
    description: all operations relating to the clients endpoint
  - name: Audit History
    description: all operations relating to fetching audit history
  - name: Federation
    description: all operations relating to federation
  - name: Certification Type
    description: all operations relating to certification types
  - name: Certification Type Variant
    description: all operations relating to certification type variants
  - name: Public
    description: all endpoints to be included in the public api documentation
  - name: Dashboard
    description: endpoints for the super user dashboard
  - name: Closed
    description: all endpoints to be included in the closed api documentation
  - name: Flags
    description: all endpoints relating to resource flags
  - name: Contact Types
    description: all endpoints relating to contact types

  - name: Api Families
    description: all endpoints relating to api family configurations

paths:
  '/audit':
    get:
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/ActionType'
        - $ref: '#/components/parameters/OrganisationIdQueryParameter'
        - $ref: '#/components/parameters/ResourceType'
        - $ref: '#/components/parameters/ResourceId'
        - $ref: '#/components/parameters/ParentResourceId'
        - $ref: '#/components/parameters/PerformedBy'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      summary: Fetches audit history based on query parameters
      description: Fetches audit history and parses based on query parameters
      operationId: getAuditDetails
      tags:
        - Audit History
        - Public
        - Closed
      responses:
        '200':
          $ref: '#/components/responses/AuditHistoryPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - godir-authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${godir_directory_audit_invoke_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 5000
        type: "aws_proxy"

  '/users/{UserEmailOrID}':
    get:
      parameters:
        - $ref: '#/components/parameters/UserEmailOrID'
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      summary: Details of the user
      description: Get information on a specific user by their email
      operationId: getUserByEmail
      tags:
        - Users
        - Public
        - Closed
      responses:
        '200':
          $ref: '#/components/responses/UserDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${directory_users_invoke_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 5000
        type: "aws_proxy"

  '/users/{UserEmailOrID}/history':
    get:
      parameters:
        - $ref: '#/components/parameters/UserEmailOrID'
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      summary: TnC history of the user
      description: Get historical data on TnCs signed by user
      operationId: getUserTncHistoryByEmail
      tags:
        - Users
        - Public
      responses:
        '200':
          $ref: '#/components/responses/UserTermsAndConditionsPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"

  '/users/certification':
    get:
      summary: All certification managers
      description: Get all certification manager users
      operationId: getCertificationManagers
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Users
        - Certification Managers
      responses:
        '200':
          $ref: '#/components/responses/CertificationManagers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"
    post:
      summary: Create a certification manager
      description: Create a new certification manager
      operationId: createCertificationManager
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        $ref: '#/components/requestBodies/CertificationManagerCreationRequest'
      tags:
        - Users
        - Certification Managers
      responses:
        '201':
          $ref: '#/components/responses/CertificationManager'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/users/certification/{UserEmailOrID}':
    parameters:
      - $ref: '#/components/parameters/UserEmailOrID'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"

    put:
      summary: Toggle active status of super user by their email
      description: Deactivate or reactivate a user
      operationId: updateUserByEmail
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Users
        - Certification Managers
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/CertificationManager'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/users/data-administrator':
    get:
      summary: All data administrators
      description: Get all users with the data administrator role
      operationId: getDataAdministrators
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Users
        - Public
        - Closed
      responses:
        '200':
          $ref: '#/components/responses/DataAdministrators'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"
    post:
      summary: Create a data administrator
      description: Grants a user the data administrator role
      operationId: createDataAdministrator
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        $ref: '#/components/requestBodies/DataAdministratorCreationRequest'
      tags:
        - Users
        - Public
        - Closed
      responses:
        '201':
          $ref: '#/components/responses/DataAdministrator'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/users/data-administrator/{UserEmailOrID}':
    parameters:
      - $ref: '#/components/parameters/UserEmailOrID'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"

    put:
      summary: Toggle active status of users data administrator role
      description: Deactivate or reactivate a users data administrator role
      operationId: updateDataAdministrator
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Users
        - Public
        - Closed
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/DataAdministrator'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/users/super':
    get:
      summary: All super users
      description: Get all super users
      operationId: getSuperUsers
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Users
        - Super Users
        - Public
      responses:
        '200':
          $ref: '#/components/responses/SuperUsersPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"
    post:
      summary: Create a super user
      description: Creates a new super user
      operationId: createSuperUser
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        $ref: '#/components/requestBodies/SuperUserCreationRequest'
      tags:
        - Users
        - Super Users
      responses:
        '201':
          $ref: '#/components/responses/SuperUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/users/super/{UserEmailOrID}':
    parameters:
      - $ref: '#/components/parameters/UserEmailOrID'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"

    put:
      summary: Toggle active status of super user by their email
      description: Reactivate or deactives a super user
      operationId: updateSuperUserByEmail
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Users
        - Super Users
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuperUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/search':
    get:
      summary: Get the top 10 results based on a partial/full match of identifier
      description: Get the top 10 results based on a partial/full match of identifier
      operationId: search
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
        - $ref: '#/components/parameters/Identifier'
        - $ref: '#/components/parameters/ResourceTypes'
        - $ref: '#/components/parameters/GlobalSearchStatus'
      tags:
        - Global Search
        - Public
      responses:
        '200':
          $ref: '#/components/responses/GlobalSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/adminusers':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"

    get:
      summary: All admin users for the given organisation
      description: Lists all organisation admins
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      operationId: getOrganisationAdmins
      tags:
        - Users
        - Organisation Admin Users
        - Public
        - Closed
      responses:
        '200':
          $ref: '#/components/responses/OrganisationAdminUsers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:servicedesk
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"

    post:
      summary: Create an organisation admin user
      description: Creates a new organisation admin
      operationId: createOrganisationAdmin
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        $ref: '#/components/requestBodies/OrgAdminUserCreateRequest'
      tags:
        - Users
        - Organisation Admin Users
        - Public
        - Closed
      responses:
        '201':
          $ref: '#/components/responses/OrganisationAdminUser'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/adminusers/{UserEmailOrID}':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/UserEmailOrID'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: Gets details of an organisation admin user by their email address
      description: Gets a specific organisation admin
      operationId: getOrganisationAdminByEmail
      tags:
        - Users
        - Organisation Admin Users
        - Public
        - Closed
      responses:
        '200':
          $ref: '#/components/responses/OrganisationAdminUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:servicedesk
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"
    put:
      summary: reactivate or deactivate an organisation admin user by their email address
      description: reactivate or deactivate an organisation admin user
      operationId: updateOrganisationAdmin
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Users
        - Organisation Admin Users
        - Public
        - Closed
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/OrganisationAdminUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/{AuthorisationDomainName}/users':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/AuthorisationDomainName'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: All users for the given authorisation domain
      description: Get all organisation authorisation domain users
      operationId: getOrganisationAuthorisationDomainUsers
      tags:
        - Users
        - Organisation Domain Users
        - Public
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
        - $ref: "#/components/parameters/QueryAuthorisationDomainRoleName"
      responses:
        '200':
          $ref: '#/components/responses/AuthorisationDomainUsersPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
            - directory:servicedesk
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"

    post:
      summary: Create an authorisation domain user
      description: creates an organisation authorisation domain user
      operationId: createOrganisationAuthorisationDomainUser
      parameters:
        - $ref: '#/components/parameters/AuthorisationDomainName'
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        $ref: '#/components/requestBodies/AuthorisationDomainUserCreateRequest'
      tags:
        - Users
        - Organisation Domain Users
        - Public
      responses:
        '201':
          $ref: '#/components/responses/AuthorisationDomainUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/{AuthorisationDomainName}/users/{UserEmailOrID}':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/AuthorisationDomainName'
      - $ref: '#/components/parameters/UserEmailOrID'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: Authorisation Domain user details
      description: Gets a specific authorisation domain users details
      operationId: getOrganisationAuthorisationDomainUserByEmail
      tags:
        - Users
        - Organisation Domain Users
        - Public
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      responses:
        '200':
          $ref: '#/components/responses/AuthorisationDomainUsersPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
            - directory:servicedesk
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/{AuthorisationDomainName}/users/{UserEmailOrID}/{AuthorisationDomainUserId}':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/AuthorisationDomainName'
      - $ref: '#/components/parameters/UserEmailOrID'
      - $ref: '#/components/parameters/AuthorisationDomainUserId'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    put:
      summary: Update an authorisation domain user record by the unique identifier
      description: updates an organisation authorisation domain user
      operationId: updateOrganisationAuthorisationDomainUserByEmail
      tags:
        - Public
        - Users
        - Organisation Domain Users
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/AuthorisationDomainUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/registration/docusign/webhook':
    post:
      summary: Webhook that listens for docusign post requests
      description: endpoint listening for docusign webhook callbacks
      operationId: processDocusignCallback
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Docusign
      requestBody:
        $ref: '#/components/requestBodies/DocusignPost'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/external/creation/docusign/organisations':
    head:
      summary: Organisation registration via docusign
      description: endpoint to recieve callbacks from docusign in order to registrer a new organisation
      operationId: createOrganisationFromDocusignCallback

      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Docusign
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '502':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations':
    get:
      summary: Get all organisations that the logged in user is authorised to retrieve from trusted services
      description: get all organisations the token is authorised to retrieve
      operationId: getOrganisations
      tags:
        - Organisations
        - Public
        - Closed

      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
        - in: query
          name: displayMine
          deprecated: true
          schema:
            type: string
            default: ""
          required: false
          description: Deprecated - use 'member' instead
        - in: query
          name: filterBy
          schema:
            type: string
            default: ""
          required: false
          description: Will return organisations with data like the provided value
        - in: query
          name: hideInactive
          schema:
            type: boolean
            default: false
          description: Will return only active organisations
        - in: query
          name: authority
          schema:
            type: boolean
            default: false
          description: Will return only organisations with active authority configurations
        - in: query
          name: member
          schema:
            type: boolean
            default: false
          description: When set to true, filters the results to only those organisations that the current user is a member of.
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        '200':
          $ref: '#/components/responses/OrganisationsPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    post:
      summary: Post a new organisation in the directory.
      description: creates a new organisation
      operationId: createOrganisation
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Organisations
        - Public
        - Closed
      requestBody:
        $ref: '#/components/requestBodies/Organisation'

      responses:
        '201':
          $ref: '#/components/responses/OrganisationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: Get the given organisations details
      description: Get specific organisation with tnc details
      operationId: getOrganisationById
      tags:
        - Organisations
        - Public
        - Closed
      responses:
        '200':
          $ref: '#/components/responses/OrganisationWithTnc'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"
    put:
      summary: Amend the given organisations details
      description: Updates an organisation
      operationId: updateOrganisationById
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Organisations
        - Public
        - Closed
      requestBody:
        $ref: '#/components/requestBodies/OrganisationUpdate'
      responses:
        '200':
          $ref: '#/components/responses/OrganisationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    delete:
      summary: Delete an organisation by changing its status to "Withdrawn"
      description: deletes a specific organisation setting its status to "Withdrawn"
      operationId: deleteOrganisationById
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Organisations
        - Public
        - Closed
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/authority-configuration':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    post:
      summary: Configures a given organisation as an authority
      description: Configures a given organisation to be able to act as an authority
      operationId: createOrganisationAuthorityConfiguration
      tags:
        - Organisations
        - Public
        - Closed
      requestBody:
        $ref: '#/components/requestBodies/AuthorityCreationRequest'
      responses:
        '200':
          $ref: '#/components/responses/AuthorityObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/authority-configuration/{AuthorityId}':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/AuthorityId'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: Retrieves the authority configuration for a given organisation
      description: Retrieves the authority configuration for a given organisation
      operationId: getOrganisationAuthorityConfiguration
      tags:
        - Organisations
        - Public
        - Closed
      responses:
        '200':
          $ref: '#/components/responses/AuthorityObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 15000
        type: "aws_proxy"
    put:
      summary: Updates a given organisations authority configuration
      description: Updates the information of a given organisations authority configuration
      operationId: updateOrganisationAuthorityConfiguration
      tags:
        - Organisations
        - Public
        - Closed
      requestBody:
        $ref: '#/components/requestBodies/AuthorityUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/AuthorityObject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/ess/initiatesigning':
    post:
      summary: This API initiates ESS signing process by an org admin
      description: initiate signing of a tnc document
      operationId: initiateOrganisationTncSigning
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        $ref: '#/components/requestBodies/EssSignRequest'
      tags:
        - Organisations
        - Docusign
        - Public
      responses:
        '200':
          $ref: '#/components/responses/OrgTermsAndConditionsDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/ess/poll/{ExternalSigningServiceEnvelopeId}':
    get:
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/ExternalSigningServiceEnvelopeId'
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      summary: Polls the ESS to get the latest status of the signing request
      description: polls docusign for a specific envelopes status and updates the resources accordingly
      operationId: pollOrganisationTncEnvelope
      tags:
        - Organisations
        - Docusign
      responses:
        '200':
          $ref: '#/components/responses/EssPollResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/ess/reissue/{ExternalSigningServiceEnvelopeId}':
    post:
      summary: This API marks the current envelope as reissued and allows a new one to be started
      description: mark envelope as reissued
      operationId: reissueEnvelope
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/ExternalSigningServiceEnvelopeId'
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Organisations
        - Docusign
        - Public
      responses:
        '200':
          $ref: '#/components/responses/EssPollResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/ess/poll':
    get:
      summary: Polls the ESS to get the latest status & update all envelopes that havent been sent or completed
      description: polls docusign for all envelope statuses and updates the resources accordingly
      operationId: pollAllOrganisationTncEnvelope
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
      tags:
        - Organisations
        - Docusign
      responses:
        '200':
          $ref: '#/components/responses/EssPollAllResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/{OrganisationId}/tnchistory':
    get:
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/x-customer-user-agent"
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      summary: Get all TnC data of the given organisation
      description: returns all tnc data for a specific organisation
      operationId: getTncHistoryByOrganisationId
      tags:
        - Organisations
        - Public
      responses:
        '200':
          $ref: '#/components/responses/OrgTermsAndConditionsPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/organisations/export/open-data':
    get:
      summary: Get the participant open-data and write to S3
      description: triggers an open data export generating the participants endpoint
      operationId: generateParticipantsEndpoint
      tags:
        - Organisations
        - Export
        - Participants
      parameters:
        - $ref: "#/components/parameters/x-fapi-interaction-id"
      responses:
        '200':
          $ref: '#/components/responses/OrganisationsExportOpenData'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:admin
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "403"
        passthroughBehavior: "when_no_match"
        requestTemplates:
          application/json: "{\"statusCode\": 403}"
        type: "mock"

  '/organisations/{OrganisationId}/conformancetest':
    parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    post:
      summary: Create and execute a Conformance Suite test plan for the given organisation
      description: creates and runs a conformance suite test based on the configuration document
      operationId: createConformanceSuiteRunByOrganisationId
      tags:
        - Organisations
        - Conformance Suite
        - Public
      requestBody:
        $ref: '#/components/requestBodies/OrganisationConformanceTest'

      responses:
        '201':
          $ref: '#/components/responses/OrganisationConformanceTestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'

      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
            - directory:software
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/resources/openid-provider-public-key':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: Returns public key for SSO integrations
      description: '''Returns an application/x-pem-file format public key. This is the public portion of the key used to sign requests to any IDP configured on the directory for SSO'''
      operationId: retrieveSsoPublicKey
      tags:
        - Reference Data
      responses:
        '200':
          $ref: '#/components/responses/PemFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/sso-configurations':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: Lists all IDPs configured as sso providers in the platform
      description: '''Retrieves IDPs configured for SSO on the platform along with some basic identifiable information for further querying'''
      operationId: listSsoConfigurations
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/HighLevelSsoConfigurationObjectPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/sso-configurations/{ssoConfigurationId}':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - $ref: "#/components/parameters/SsoConfigurationIdPathParameter"
    get:
      summary: Retrieves a specific member of the set of all IDPs configured as sso providers in the platform
      description: '''Retrieves a specific member of the set of all IDPs configured for SSO on the platform along with some basic identifiable information for further querying'''
      operationId: getSsoConfiguration
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/HighLevelSsoConfigurationObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
    get:
      summary: Lists all groups configured in the platform
      description: '''Retrieves all user groups configured for the current deployment. Filtering by management type is 
        supported where only users with Ecosystem-level permissions able to retrieve a set that may include raidiam-managed
        groups'''
      operationId: listUserGroups
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
        - in: query
          name: managementType
          required: false
          schema:
            $ref: "#/components/schemas/UserGroupManagementType"
          description: The management type of the groups to filter by
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/UserGroupPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    post:
      summary: Creates a new directory-managed user group
      description: '''Creates a new directory-managed user group'''
      operationId: createUserGroup
      tags:
        - Reference Data
        - Users
      requestBody:
        $ref: '#/components/requestBodies/UserGroupCreationRequest'
      responses:
        '201':
          $ref: '#/components/responses/UserGroupObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
    get:
      summary: Retrieves a given user group configured in the platform
      description: '''Retrieves all user groups configured for the current deployment. Filtering by management type is 
        supported where only users with Ecosystem-level permissions able to retrieve a set that may include raidiam-managed
        groups'''
      operationId: getUserGroup
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/UserGroupObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    put:
      summary: Updates a directory-managed user group configured in the platform
      description: '''Updates an existing directory-managed user group'''
      operationId: updateUserGroup
      tags:
        - Reference Data
        - Users
      requestBody:
        $ref: '#/components/requestBodies/UserGroupUpdateRequest'
      responses:
        '201':
          $ref: '#/components/responses/UserGroupObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    delete:
      summary: Deletes a directory-managed user group configured in the platform
      description: '''Deletes an existing directory-managed user group'''
      operationId: deleteUserGroup
      tags:
        - Reference Data
        - Users
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/idp-binding':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
    get:
      summary: Lists all IDPs bound to a specific group
      description: '''Retrieves a paginated set of all IDP Configurations that are bound to a specific user group. Note
      that a given IDP may be bound to multiple groups'''
      operationId: listUserGroupIDPBindings
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/UserGroupIDPBindingPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    post:
      summary: Creates a new binding between an IDP and a Group
      description: '''Creates a new mapping between a given IDP Configuration and a user group. No group may have the 
      same IDP Configuration mapped to it multiple times.'''
      operationId: createUserGroupIDPBinding
      tags:
        - Reference Data
        - Users
      requestBody:
        $ref: '#/components/requestBodies/UserGroupIDPBindingCreationRequest'
      responses:
        '201':
          $ref: '#/components/responses/UserGroupIDPBindingObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/idp-binding/{bindingID}':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
      - in: path
        name: bindingID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupIDPBindingID"
    delete:
      summary: Deletes a binding between an IDP and a user group
      description: '''Deletes a binding between a given IDP Configuration Entity and User Group'''
      operationId: deleteUserGroupIDPBinding
      tags:
        - Reference Data
        - Users
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/organisation-binding':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
    get:
      summary: Lists all organisations mapped to a specific group
      description: '''Retrieves a paginated set of all Organisations that have a mapping to the subject User Group.
      Any users in this group will be able to assume the granted permissions in the specified organisation'''
      operationId: listUserGroupOrganisationBindings
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/UserGroupOrganisationBindingPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    post:
      summary: Creates a new binding between an Organisation and a Group
      description: '''Creates a new mapping between a given Organisation and a user group. No group may have the 
      same Organisation mapped to it multiple times.'''
      operationId: createUserGroupOrganisationBinding
      tags:
        - Reference Data
        - Users
      requestBody:
        $ref: '#/components/requestBodies/UserGroupOrganisationBindingCreationRequest'
      responses:
        '201':
          $ref: '#/components/responses/UserGroupOrganisationBindingObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/organisation-binding/{bindingID}':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
      - in: path
        name: bindingID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupOrganisationBindingID"
    delete:
      summary: Deletes a binding between an Organisation and a user group
      description: '''Deletes a binding between a given Organisation and User Group'''
      operationId: deleteUserGroupOrganisationBinding
      tags:
        - Reference Data
        - Users
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/permissions':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
    get:
      summary: Lists all permissions associated with a specific group
      description: '''Retrieves a paginated set of all permissions that members of a given user group will be assigned'''
      operationId: listUserGroupPermissions
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/UserGroupPermissionPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"
    post:
      summary: Assigns a new permission to the group
      description: '''Assigns a new permission to the group. Members of the group will be granted this permission.'''
      operationId: createUserGroupPermission
      tags:
        - Reference Data
        - Users
      requestBody:
        $ref: '#/components/requestBodies/UserGroupPermissionCreationRequest'
      responses:
        '201':
          $ref: '#/components/responses/UserGroupPermissionObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/permissions/{permissionID}':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
      - in: path
        name: permissionID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupPermissionID"
    delete:
      summary: Removes a permission assignment from a group
      description: '''Deletes the assignment of a given permission to a user group'''
      operationId: deleteUserGroupPermission
      tags:
        - Reference Data
        - Users
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/membership':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
    get:
      summary: Lists all user identifiers of current group members
      description: '''Returns a paginated set of all user identifiers representing users currently assigned to that group'''
      operationId: listUserGroupMembership
      parameters:
        - $ref: "#/components/parameters/PageNumber"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageSort"
      tags:
        - Reference Data
        - Users
      responses:
        '200':
          $ref: '#/components/responses/UserGroupMembersPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_read_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/groups/{groupID}/membership/{memberID}':
    parameters:
      - $ref: "#/components/parameters/x-fapi-auth-date"
      - $ref: "#/components/parameters/x-fapi-customer-ip-address"
      - $ref: "#/components/parameters/x-fapi-interaction-id"
      - $ref: "#/components/parameters/x-customer-user-agent"
      - in: path
        name: groupID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupID"
      - in: path
        name: memberID
        required: true
        schema:
          $ref: "#/components/schemas/UserGroupMembershipID"
    delete:
      summary: Deletes a user from a user group
      description: '''Removes a user from the target user group'''
      operationId: deleteUserGroupMember
      tags:
        - Reference Data
        - Users
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/UpstreamTimeout'
      security:
        - authorizer: [ ]
        - oAuth:
            - directory:website
      x-amazon-apigateway-integration:
        uri: "${organisation_write_arn}"
        passthroughBehavior: "when_no_match"
        httpMethod: "POST"
        timeoutInMillis: 29000
        type: "aws_proxy"

  '/references/users/authorisationdomain/usertypes':
    get:
      summary: Reference Data of all authorisation domain user types
      description: get all authorisation domain user types
      operationId: getAuthorisationDomainUserTypes
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
[...]
